html {
  font-family: "Oswald", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.waves-effect.waves-brown {
  /* The alpha value allows the text and background color
    of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}

.notification-count {
  top: 15px;
  height: 18px;
  width: 18px;
  background: #eb9633;
  /* margin-bottom: 24px; */
  position: absolute;
  border-radius: 20px;
}

.notification-number {
  font-size: 11px;
  top: -9px;
  right: 3px;
  /* height: 15px; */
  /* width: 15px; */
  /* background: orange; */
  /* margin-bottom: 24px; */
  position: absolute;
  /* border-radius: 20px; */
}

a:focus {
  outline: none;
}

p {
  font-family: sans-serif;
}

.container {
  width: 80%;
}

.mobile_links {
  display: none;
}

nav .fas {
  font-size: 1rem;
  margin-left: 5px;
}

.bag .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/hero.png");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 55%;
  height: auto;
}

.header-container .center {
  margin-bottom: 0px !important;
}

.tile {
  background-color: #fff;
  height: 10em;
  width: 100%;
  position: relative;
}

.tile-overlay {
  background-color: #2a658d;
  height: 7em;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.tile-overlay.skin {
  background-color: #eb9633;
}

.tile-overlay.weight {
  background-color: #007061;
}

.tile img {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* Get Started Section */

.get-started {
  background-color: #f6f6f6;
  padding-bottom: 1em;
}

.get-started .btn-large {
  width: 20em;
}

/* New Launches */

.new-launches .tabs {
  height: 48px;
  width: 358px;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  background: #f6f6f6;
  align-items: center;
  padding: 0px 8px;
  border-radius: 50px;
}

.new-launches .tabs .tab_item {
  width: 114px;
  height: 36px;
  left: 0px;
  top: 6px;
  padding-top: 6px;
  cursor: pointer;
}

.new-launches .tabs .tab_item.active {
  transition: 0.5s linear background;
  background: #000;
  border-radius: 50px;
  color: #fff;
}

.new-launches .card-content {
  padding: 0px !important;
}

.card {
  border-radius: 11px;
}

.card-title {
  padding: 15px;
  font-weight: 400 !important;
}

.for-section {
  display: flex;
  height: 24px;
  background: #f6f6f6;
  align-items: center;
  flex-basis: auto;
  /* justify-content: space-evenly; */
}

.for-section p {
  padding: 0px 30px;
}

.for-section .title {
  border-right: 1px solid #000;
}

.with-section {
  margin-top: 20px;
  display: flex;
  /* height: 24px; */
  background: #f6f6f6;
  align-items: center;
  flex-basis: auto;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.with-section p {
  padding: 0px 30px;
}

.with-section p {
  border-right: 0.5px solid #eee;
  /* border-top: 0.5px solid #eee; */
  border-bottom: 0.5px solid #eee;
}

.price-section {
  padding: 20px;
}

.price-section .price {
  font-size: 2rem;
  font-style: bold;
}

.price-section .actual-price {
  margin-left: 10px;
}

.price-section .discount-percent {
  margin-left: 10px;
  color: green;
  font-size: 1.5rem;
  font-style: bold;
}

.card-action {
  display: flex;
  padding: 0px !important;
}

.card-action-btn {
  padding: 20px;
  width: 100%;
}

.buy-now-btn {
  background: #000;
  border-bottom-right-radius: 7px;
}

.add-to-cart-btn {
  background: #f6f6f6;
  border-bottom-left-radius: 7px;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.step-title {
  margin-top: -5px;
}

.step-title-content {
  font-weight: bold !important;
  font-size: 1rem;
}

.disabled {
  color: #eee;
}

.material-icons {
  cursor: pointer;
}

/* media Queires */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .brand-logo {
    left: 35% !important;
  }

  .mobile_links {
    display: block;
  }

  .sidenav-overlay {
    display: none !important;
  }

  .mobile_search {
    position: absolute;
    display: inline-block;
    right: 30%;
  }

  .mobile_whatsapp {
    position: absolute;
    display: inline-block;
    right: 20%;
  }

  .nav-wrapper.container {
    width: 95%;
  }

  .mobile_links a {
    margin: 0px 10px;
  }

  /* nav {
    width: 74%;
  } */

  .hero-image {
    background-image: none;

    /* Set a specific height */
    height: 70vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .header-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100%;
    height: 50%;
  }

  .header-container .container {
    width: 95%;
  }

  .how-it-works img {
    width: 100%;
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb9633;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb9633;
  width: 20px;
}
